<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <link rel="stylesheet" type="text/css" href="/static/<%= grunt.config.get('pkg.name') %>.css"/>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/angular.js"></script>
    <script type="text/javascript" src="/static/bootstrap.js"></script>
    <script type="text/javascript" src="/static/<%= grunt.config.get('pkg.name') %>.js"></script>
</head>

<body ng-controller="AppCtrl">
<div class="container-fluid">

    <div class="row-fluid">
        <div class="span12" ng-include="'header.tpl.html'"></div>
        <div class="row-fluid">
            <div class="span3 info-pane" ng-include="'infopanel.tpl.html'"></div>
            <div class="row-fluid">
                <div class="span9 pull-right">
                    <div ng-include="'toolbar.tpl.html'"></div>
                    <div class="image-pane">image pane</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>